@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-8" style="background-color: #ffe786; border-style: solid; border-width: 10px; border-color: #ffd735; padding: 10px;">
            <h4 style="font-weight: bold;">Hey everyone, Aurora Brickwell here!</h4>
            <br/>
            <h6>For most of my life, Legos have been my jam. From building epic castles as a kid to designing intricate mosaic portraits now, 
                those little bricks have been my creative outlet. But my journey to becoming your friendly neighborhood Lego influencer, and 
                founder of Bricks Up, wasn't exactly straightforward.</h6>
        </div>
        <div class="col-4">
            <img src="~/img/brickwellmicrophone.jpeg" alt="a lego version of Aurora Brickwell talking into a microphone"/>
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-12" style="background-color: #ea4b51; border-style: solid; border-width: 10px; border-color: #e51e26; padding: 10px;">
            <h4 style="font-weight: bold;">How we got started...</h4>
            <br />
            <h6>
                Let's just say it involved a David Goggins-inspired can-do attitude, a near-death experience with a
                rogue shark (don't worry, I won that fight!), and the realization that life's too short to hold 
                back on my dreams. Fueled by Goggins' hustle and a healthy dose of post-shark encounter clarity, 
                I took a deep breath and decided to turn my lifelong Lego obsession into something bigger.
            </h6>
            </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <img src="~/img/brickwelloncomputer.jpeg" alt="a lego version of Aurora Brickwell typing on a computer" />/>
        </div>
        <div class="col-8" style="background-color: #33BF71; border-style: solid; border-width: 10px; border-color: #00AF4d; padding: 10px;">
            <h6>
                That's how Bricks Up was born. So, whether you're a seasoned Lego pro or a newbie just starting out,
                welcome! I'm here to share my Lego love, inspire your next build, and maybe even swap some shark 
                stories along the way.  Stay tuned for Lego hacks, set reviews, and maybe even a glimpse into my 
                latest creation (pssst, it involves a life-sized baby Yoda).
            </h6>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12" style="background-color: #599FD0; border-style: solid; border-width: 10px; border-color: #006CB7; padding: 10px;">
            <h6>
                Bricks up is more than just a Lego resale company, it's a community for builders of all ages. 
                A place where we can share our passion, score those hard-to-find sets, and keep those bricks out 
                of landfills. So buckle up, brick fans, it's gonna be a wild ride!
            </h6>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>