@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-8" style="background-color: #ffe786; border-style: solid; border-width: 10px; border-color: #ffd735; padding: 10px;">
            <h4 style="font-weight: bold;">Hey everyone, Aurora Brickwell here!</h4>
            <br/>
            <h6>For most of my life, Legos have been my jam. From building epic castles as a kid to designing intricate mosaic portraits now, 
                those little bricks have been my creative outlet. But my journey to becoming your friendly neighborhood Lego influencer, and 
                founder of Bricks Up, wasn't exactly straightforward.</h6>
        </div>
        <div class="col-4">
            Hey everyone, Aurora Brickwell here!

            For most of my life, Legos have been my jam. From building epic castles as a kid to designing intricate mosaic portraits now, those little bricks have been my creative outlet. But my journey to becoming your friendly neighborhood Lego influencer, and founder of Bricks Up, wasn't exactly straightforward.
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            Hey everyone, Aurora Brickwell here!

            For most of my life, Legos have been my jam. From building epic castles as a kid to designing intricate mosaic portraits now, those little bricks have been my creative outlet. But my journey to becoming your friendly neighborhood Lego influencer, and founder of Bricks Up, wasn't exactly straightforward.
        </div>
        <div class="col-8" style="background-color: #ea4b51; border-style: solid; border-width: 10px; border-color: #e51e26;">
            Hey everyone, Aurora Brickwell here!

            For most of my life, Legos have been my jam. From building epic castles as a kid to designing intricate mosaic portraits now, those little bricks have been my creative outlet. But my journey to becoming your friendly neighborhood Lego influencer, and founder of Bricks Up, wasn't exactly straightforward.
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-8" style="background-color: #33BF71; border-style: solid; border-width: 10px; border-color: #00AF4d;">
            Hey everyone, Aurora Brickwell here!

            For most of my life, Legos have been my jam. From building epic castles as a kid to designing intricate mosaic portraits now, those little bricks have been my creative outlet. But my journey to becoming your friendly neighborhood Lego influencer, and founder of Bricks Up, wasn't exactly straightforward.
        </div>
        <div class="col-4">
            Hey everyone, Aurora Brickwell here!

            For most of my life, Legos have been my jam. From building epic castles as a kid to designing intricate mosaic portraits now, those little bricks have been my creative outlet. But my journey to becoming your friendly neighborhood Lego influencer, and founder of Bricks Up, wasn't exactly straightforward.
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12" style="background-color: #599FD0; border-style: solid; border-width: 10px; border-color: #006CB7;">
            Hey everyone, Aurora Brickwell here!

            For most of my life, Legos have been my jam. From building epic castles as a kid to designing intricate mosaic portraits now, those little bricks have been my creative outlet. But my journey to becoming your friendly neighborhood Lego influencer, and founder of Bricks Up, wasn't exactly straightforward.
        </div>
    </div>
    <br />
    <br />
    <br />
</div>