
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProductsPagesViewModel


<div class="container">
    <div class="row">
        <div class="col-lg-2 p-0" style="background-color: ghostwhite;">
            <div style="height: 100%; overflow-y: auto; padding: 0 10px;">
                <!-- Place ColorViewComponent here -->
                <vc:color />
            </div>
        </div>
        <div class="col-lg-10">
        @foreach (var x in Model.Products)
        {
            <p>@x.Name @x.Category @x.PrimaryColor @x.SecondaryColor</p>        
        }
        </div>
    </div>
</div>




